@import-normalize;                                // PostCSS Normalize reset
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';
@import './font.scss';

// running inside chrome extension
.chrome-extension {
  
}
// running as standalone website
.standalone {
  height: 100%;
  // width: 400px;
  margin: 0 auto;
  padding: 10px 0 0 20px;
}

body {
  font-family: 'ClipperSoleil', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  
  color: var(--st__neutral-fg1);
  background-color: var(--st__neutral-bg1);
}

button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;  
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 0.5s ease-out;
}

.error-message {
  color: var(--st__semantic-error-base);
}

.positive {
  color: var(--st__semantic-positive-base);
}

.negative {
  color: var(--st__semantic-negative-base);
}

// Bootstrap overrides
.dropdown-header, .dropdown-item, .dropdown-menu {
  color: var(--st__neutral-fg1);
  background-color: var(--st__neutral-bg3);
}

.dropdown-menu {
  box-shadow: 0px 1px 3px 0 var(--st__neutral-bg1);
}

.dropdown-item:hover {
  color: var(--st__primary-hover);
  background-color: var(--st__neutral-hover-bg1);
}

.dropdown-item span {
  margin-right: 5px;
}

// inverse colors from body
.modal-header, .modal-content, .modal-body {
  color: var(--st__neutral-bg1);
  background-color: var(--st__neutral-fg1);
}
