.search-section {
  padding: 10px 0 10px 0;
  display: block;
  width: 100%;

  header {
    display: flex;
    padding: 4px 24px 0px;  
    align-items: center;
    justify-content: space-between;
  }
}

.cancel-button {
  margin-left: 22px;
}

.lists-section {
  display: block;
  width: 100%;
  background-color: var(--st__neutral-bg1);
  padding: 4px 24px 0px;  
}
