.search-menu {
  padding: 0 24px 24px;

  & section {
    margin: 12px 0 24px;
  }

  & h4 {
    color: var(--st__neutral-fg2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.search-results {
}
.search-result {
  display: flex;

  &:hover {
    background-color: var(--st__neutral-bg2);
  }
}
.search-result-symbol {
  flex: 0 0 80px;
}
.search-result-company {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-match {
  color: var(--st__primary-base);
}
